.parallex {
    background-size: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}